# Environnements
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env



# Docker
*.log
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.egg-info/

# Logs
*.log
